.form__container  {
  border: 2px solid #000000;
  text-align: left;
  padding: 8px 24px;
  margin: 12px;
}

.form__group * {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

.form__container  button {
  margin-left: 0;
}